**/.DS_Store
.vscode
project/cmake
project/third_party
third_party/asio-1.24.0
third_party/gf-complete
third_party/grpc
third_party/jerasure
storage/*
!storage/.gitkeep
data/*
small_tools/*
logs/*
.clangd
project/compile_commands.json
project/build/
/wondershaper